
  <h1>Welcoe to one month rails</h1>
<p>
you found the home page to this site.<br><h3>
congrats!</h3><br>
this was base on the teaching of

<%= link_to "One Month Rails", "http://onemonthrails.com"%>
</p>
<p>
<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-lg" %>
</p>









